/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);
    border: 1px solid var(--surface-border);

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.c1 {
    background-color: rgb(156, 43, 38) !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.c2 {
    background-color: rgb(208, 119, 64) !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.c3 {
    background-color: rgb(229, 185, 77) !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.c4 {
    background-color: rgb(65, 108, 63) !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.c5 {
    background-color: rgb(43, 76, 118) !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.c6 {
    background-color: rgb(127, 31, 83) !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}
