@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #fafafa;
$primary-color: #E1A624;
$font-family: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: $font-family !important;
  font-weight: 200;
  background-color: $background-color;
  color: black;
}

