parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
    		- identifier: missingType.iterableValue
    		- identifier: doctrine.columnType
    		- identifier: doctrine.associationType
    		- identifier: missingType.generics
    level: 6

    paths:
        - src
