parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
    		- identifier: missingType.iterableValue
    level: 6

    paths:
        - src
