parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
    		- identifier: missingType.iterableValue
    		- identifier: doctrine.columnType
    		- identifier: doctrine.associationType
    		- identifier: missingType.generics
    level: 6

    paths:
        - src
        - ../packages/auth-bundle/src
        - ../packages/edt-bundle/src
        - ../packages/intranet-bundle/src
        - ../packages/unifolio-bundle/src
        - ../packages/helpdesk-bundle/src
        - ../packages/questionnaire-bundle/src
        - ../packages/stage-bundle/src
